table, table tr td, table tr th {
    border: solid 1px black;
    border-collapse: collapse
}
table {
    width: 99%;
    margin:4px
}
table tr td {
    font-size: 12px
}
hr {
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 0
}
h2 {
    text-align: center;
    -webkit-margin-before: 5px;
    -webkit-margin-after: 5px;
}
.bordaDoRelatorio {
    border: solid 1px black;
    width: 600pt;
    padding: 4px;
}
label {
    display: block;
    font-size: 12px;
}
.linha {
    clear: both;
}
.coluna {
    width: 49%;
    display: inline-block;
    float: left;
}
.labelNaLinha {
    display: inline;
}
