<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="emailDoPortal" type="Progas.Portal.Infra.Model.EmailDoPortal,Progas.Portal.Infra"/>
  </configSections>
  <emailDoPortal RemetenteSuprimentos="rafaelo4n@gmail.com" RemetenteLogistica="rafaelo4n@gmail.com" Servidor="smtp.gmail.com" Porta="587" Usuario="rafaelo4n@gmail.com" Senha="blink18241" Dominio=""/>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="ProgasPortal" connectionString="SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=RAFAEL-PC\SQLEXPRESS))(Integrated Security=SSPI));"/>
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Portal.DadosSap.PortalProgasInterface">
        <endpoint address="" binding="basicHttpBinding" contract="Portal.DadosSap.IPortalProgasInterface">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/ServicoPortalProgasInterface"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings/>
    <client/>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
