<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    <section name="emailDoPortal" type="Progas.Portal.Infra.Model.EmailDoPortal, Progas.Portal.Infra" />
  </configSections>
  <emailDoPortal RemetenteProgas="rafaelo4n@gmail.com" Servidor="smtp.gmail.com" Porta="587" Dominio="" HabilitarSsl="true" Usuario="rafaelo4n" Senha="blink18241" />

    <connectionStrings>
    <add name="Progas" connectionString="Server=.\SQLEXPRESS;Initial Catalog=ProgasPortal_DEV; User=portal_progas;Password=fusion123" />
  </connectionStrings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>