<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Progas.Portal.Application.Properties.Settings.ProgasPortalConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ProgasPortal;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>