USE [ProgasPortal]
GO
/****** Object:  Table [dbo].[UsuarioPerfil]    Script Date: 01/16/2014 09:34:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UsuarioPerfil](
	[Login] [varchar](12) NULL,
	[Perfil] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[UsuarioPerfil] ([Login], [Perfil]) VALUES (N'admfusion', 4)
INSERT [dbo].[UsuarioPerfil] ([Login], [Perfil]) VALUES (N'admfusion', 8)
INSERT [dbo].[UsuarioPerfil] ([Login], [Perfil]) VALUES (N'admfusion', 9)
/****** Object:  Table [dbo].[usuario]    Script Date: 01/16/2014 09:34:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[usuario](
	[login] [varchar](12) NULL,
	[nome] [varchar](80) NULL,
	[senha] [varchar](24) NULL,
	[email] [varchar](240) NULL,
	[status] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[usuario] ([login], [nome], [senha], [email], [status]) VALUES (N'admfusion', N'adm. fusion', N'nMt6vfHriwbmCFAim+R8qw==', N'rafael.lima@fusionconsultoria.com.br', 1)
INSERT [dbo].[usuario] ([login], [nome], [senha], [email], [status]) VALUES (N'r', N'r', N'psEEA2p/uJqMJsM6yXbmAw==', N'rafael_o4n@hotmail.com', 1)
/****** Object:  Table [dbo].[pro_vitem]    Script Date: 01/16/2014 09:34:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pro_vitem](
	[pro_id_item] [int] IDENTITY(1,1) NOT NULL,
	[id_cotacao] [nvarchar](10) NOT NULL,
	[id_item] [nvarchar](10) NOT NULL,
	[id_pedido] [nchar](35) NULL,
	[id_material] [nvarchar](35) NULL,
	[quant] [decimal](15, 3) NULL,
	[unimed] [nvarchar](4) NULL,
	[listpre] [nvarchar](3) NULL,
	[valtab] [numeric](13, 2) NULL,
	[valpol] [numeric](13, 2) NULL,
	[descma] [numeric](13, 2) NULL,
	[valfin] [numeric](13, 2) NULL,
	[motrec] [nvarchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[pro_id_item] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[pro_vitem] ON
INSERT [dbo].[pro_vitem] ([pro_id_item], [id_cotacao], [id_item], [id_pedido], [id_material], [quant], [unimed], [listpre], [valtab], [valpol], [descma], [valfin], [motrec]) VALUES (1, N'3', N'1', N'3                                  ', N'B1114', CAST(2.000 AS Decimal(15, 3)), NULL, N'PN', CAST(0.00 AS Numeric(13, 2)), CAST(0.00 AS Numeric(13, 2)), CAST(0.00 AS Numeric(13, 2)), CAST(0.00 AS Numeric(13, 2)), NULL)
INSERT [dbo].[pro_vitem] ([pro_id_item], [id_cotacao], [id_item], [id_pedido], [id_material], [quant], [unimed], [listpre], [valtab], [valpol], [descma], [valfin], [motrec]) VALUES (15, N'4', N'1', N'4                                  ', N'B1183', CAST(3.000 AS Decimal(15, 3)), NULL, N'PN', CAST(0.00 AS Numeric(13, 2)), CAST(0.00 AS Numeric(13, 2)), CAST(0.00 AS Numeric(13, 2)), CAST(0.00 AS Numeric(13, 2)), NULL)
INSERT [dbo].[pro_vitem] ([pro_id_item], [id_cotacao], [id_item], [id_pedido], [id_material], [quant], [unimed], [listpre], [valtab], [valpol], [descma], [valfin], [motrec]) VALUES (16, N'4', N'2', N'4                                  ', N'B111', CAST(54.000 AS Decimal(15, 3)), NULL, N'PP', CAST(0.00 AS Numeric(13, 2)), CAST(0.00 AS Numeric(13, 2)), CAST(0.00 AS Numeric(13, 2)), CAST(0.00 AS Numeric(13, 2)), NULL)
SET IDENTITY_INSERT [dbo].[pro_vitem] OFF
/****** Object:  Table [dbo].[pro_vcab]    Script Date: 01/16/2014 09:34:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pro_vcab](
	[id_cotacao] [nvarchar](10) NOT NULL,
	[TipoPedido] [nvarchar](4) NULL,
	[id_centro] [nvarchar](4) NULL,
	[id_cliente] [nvarchar](18) NULL,
	[datacp] [datetime] NULL,
	[id_pedido] [nvarchar](35) NULL,
	[datap] [date] NULL,
	[condpgto] [nvarchar](4) NULL,
	[inco1] [nvarchar](10) NULL,
	[inco2] [nvarchar](10) NULL,
	[trans] [nvarchar](10) NULL,
	[transred] [nvarchar](10) NULL,
	[transredcif] [nvarchar](10) NULL,
	[obs] [nvarchar](60) NULL,
	[motrec] [nvarchar](2) NULL,
	[status] [nvarchar](20) NULL,
	[vlrtot] [numeric](13, 2) NULL,
	[Id_repre] [nchar](15) NULL,
	[tipo] [nchar](1) NULL,
 CONSTRAINT [pk_id_cotacao_cab] PRIMARY KEY CLUSTERED 
(
	[id_cotacao] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[pro_vcab] ([id_cotacao], [TipoPedido], [id_centro], [id_cliente], [datacp], [id_pedido], [datap], [condpgto], [inco1], [inco2], [trans], [transred], [transredcif], [obs], [motrec], [status], [vlrtot], [Id_repre], [tipo]) VALUES (N'12', N'YNOR', N'1010', N'0001000406', CAST(0x0000A2A70126E7B4 AS DateTime), N'12', CAST(0xEB370B00 AS Date), N'1', N'CIF       ', N'CIP       ', NULL, NULL, NULL, NULL, NULL, NULL, CAST(0.00 AS Numeric(13, 2)), N'admfusion      ', NULL)
INSERT [dbo].[pro_vcab] ([id_cotacao], [TipoPedido], [id_centro], [id_cliente], [datacp], [id_pedido], [datap], [condpgto], [inco1], [inco2], [trans], [transred], [transredcif], [obs], [motrec], [status], [vlrtot], [Id_repre], [tipo]) VALUES (N'123', N'YNOR', N'1010', N'0001000367', CAST(0x0000A2AF00FBD204 AS DateTime), N'123', CAST(0x09380B00 AS Date), N'1', N'CIF       ', N'FOB       ', N'0000200026', N'0000200018', N'0000200024', N'teste de envio para SAP', NULL, NULL, CAST(0.00 AS Numeric(13, 2)), N'admfusion      ', NULL)
INSERT [dbo].[pro_vcab] ([id_cotacao], [TipoPedido], [id_centro], [id_cliente], [datacp], [id_pedido], [datap], [condpgto], [inco1], [inco2], [trans], [transred], [transredcif], [obs], [motrec], [status], [vlrtot], [Id_repre], [tipo]) VALUES (N'126654', N'YNOR', N'1010', N'0001000406', CAST(0x0000A2B400ECC868 AS DateTime), N'126654', CAST(0xEB370B00 AS Date), N'1', N'CIF       ', N'CIP       ', NULL, NULL, NULL, NULL, NULL, NULL, CAST(0.00 AS Numeric(13, 2)), N'admfusion      ', NULL)
/****** Object:  Table [dbo].[pro_unidademedida]    Script Date: 01/16/2014 09:34:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pro_unidademedida](
	[pro_id_unidademedida] [int] IDENTITY(1,1) NOT NULL,
	[id_unidademedida] [nchar](10) NULL,
	[descricao] [nvarchar](30) NULL,
	[dimensao] [nvarchar](6) NULL,
	[aprestecnica] [nvarchar](6) NULL,
	[hora_criacao] [nchar](8) NULL,
	[pacote] [nchar](30) NULL,
	[data_criacao] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[pro_id_unidademedida] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[pro_unidademedida] ON
INSERT [dbo].[pro_unidademedida] ([pro_id_unidademedida], [id_unidademedida], [descricao], [dimensao], [aprestecnica], [hora_criacao], [pacote], [data_criacao]) VALUES (1, N'%         ', N'Porcentagem', N'PROPOR', N'%', N'11:39:21', N'             1                ', CAST(0xE4370B00 AS Date))
INSERT [dbo].[pro_unidademedida] ([pro_id_unidademedida], [id_unidademedida], [descricao], [dimensao], [aprestecnica], [hora_criacao], [pacote], [data_criacao]) VALUES (2, N'%O        ', N'Permilagem', N'PROPOR', N'%O', N'11:39:21', N'             1                ', CAST(0xE4370B00 AS Date))
INSERT [dbo].[pro_unidademedida] ([pro_id_unidademedida], [id_unidademedida], [descricao], [dimensao], [aprestecnica], [hora_criacao], [pacote], [data_criacao]) VALUES (3, N'1         ', N'Um', N'PROPOR', N'UM', N'11:39:21', N'             1                ', CAST(0xE4370B00 AS Date))
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[pro_unidademedida] OFF
/****** Object:  Table [dbo].[pro_tipopedido]    Script Date: 01/16/2014 09:34:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[pro_tipopedido](
	[codigo] [varchar](4) NULL,
	[descricao] [varchar](30) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[pro_tipopedido] ([codigo], [descricao]) VALUES (N'YVAS', N'Venda Assis. Técnica')
INSERT [dbo].[pro_tipopedido] ([codigo], [descricao]) VALUES (N'YNOR', N'Venda Normal')
/****** Object:  Table [dbo].[pro_material]    Script Date: 01/16/2014 09:34:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pro_material](
	[pro_id_material] [int] IDENTITY(1,1) NOT NULL,
	[id_material] [nvarchar](10) NULL,
	[id_cliente] [nvarchar](18) NULL,
	[id_centro] [nvarchar](4) NULL,
	[descricao] [nvarchar](40) NULL,
	[tip_mat] [nvarchar](4) NULL,
	[uni_med] [nvarchar](3) NULL,
	[peso_bru] [nvarchar](13) NULL,
	[peso_liq] [nvarchar](13) NULL,
	[volume] [nvarchar](13) NULL,
	[status_mat] [nvarchar](2) NULL,
	[data_criacao] [date] NULL,
	[pacote] [nvarchar](30) NULL,
	[hora_criacao] [nvarchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[pro_id_material] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[pro_material] ON
INSERT [dbo].[pro_material] ([pro_id_material], [id_material], [id_cliente], [id_centro], [descricao], [tip_mat], [uni_med], [peso_bru], [peso_liq], [volume], [status_mat], [data_criacao], [pacote], [hora_criacao]) VALUES (1, N'B1067', NULL, N'1010', N'ACO SEXT TREF 1020 38,10 X 6000MM (1,1/2', N'ROH', N'KG', NULL, NULL, NULL, N'', CAST(0xE4370B00 AS Date), N'              1', N'11:37:10')
INSERT [dbo].[pro_material] ([pro_id_material], [id_material], [id_cliente], [id_centro], [descricao], [tip_mat], [uni_med], [peso_bru], [peso_liq], [volume], [status_mat], [data_criacao], [pacote], [hora_criacao]) VALUES (2, N'B1068', NULL, N'1010', N'ACO RED LAM 1020 44,45 X 6000MM (1,3/4)', N'ROH', N'KG', NULL, NULL, NULL, N'', CAST(0xE4370B00 AS Date), N'              1', N'11:37:10')
INSERT [dbo].[pro_material] ([pro_id_material], [id_material], [id_cliente], [id_centro], [descricao], [tip_mat], [uni_med], [peso_bru], [peso_liq], [volume], [status_mat], [data_criacao], [pacote], [hora_criacao]) VALUES (3, N'B107', NULL, N'1010', N'MANUAL INSTRUCOES MP-02', N'VERP', N'ST', NULL, NULL, NULL, N'', CAST(0xE4370B00 AS Date), N'              1', N'11:37:10')
SET IDENTITY_INSERT [dbo].[pro_material] OFF
/****** Object:  Table [dbo].[pro_listapreco]    Script Date: 01/16/2014 09:34:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[pro_listapreco](
	[codigo] [varchar](2) NULL,
	[descricao] [varchar](20) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[pro_listapreco] ([codigo], [descricao]) VALUES (N'PN', N'Preço Normal')
INSERT [dbo].[pro_listapreco] ([codigo], [descricao]) VALUES (N'PP', N'Preço promocional')
/****** Object:  Table [dbo].[pro_incoterms]    Script Date: 01/16/2014 09:34:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[pro_incoterms](
	[codigoIncoterm] [nchar](10) NULL,
	[descricao] [varchar](30) NULL,
	[tipo] [nchar](10) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[pro_incoterms] ([codigoIncoterm], [descricao], [tipo]) VALUES (N'CIF       ', N'Entregue no cliente', N'INCO1     ')
INSERT [dbo].[pro_incoterms] ([codigoIncoterm], [descricao], [tipo]) VALUES (N'CIP       ', N'Entr. no cliente Transp Progas', N'INCO1     ')
INSERT [dbo].[pro_incoterms] ([codigoIncoterm], [descricao], [tipo]) VALUES (N'FOB       ', N'Cliente retira', N'INCO1     ')
/****** Object:  Table [dbo].[pro_fornecedor]    Script Date: 01/16/2014 09:34:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pro_fornecedor](
	[pro_id_fornecedor] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [nvarchar](10) NULL,
	[nome] [nvarchar](35) NULL,
	[cpf] [nvarchar](11) NULL,
	[cnpj] [nvarchar](16) NULL,
	[nr_ie_for] [nvarchar](18) NULL,
	[cep] [nvarchar](10) NULL,
	[endereco] [nvarchar](60) NULL,
	[numero] [nvarchar](10) NULL,
	[complemento] [nvarchar](10) NULL,
	[municipio] [nvarchar](40) NULL,
	[bairro] [nvarchar](40) NULL,
	[uf] [nvarchar](3) NULL,
	[pais] [nvarchar](3) NULL,
	[tel_res] [nvarchar](16) NULL,
	[tel_cel] [nvarchar](18) NULL,
	[fax] [nvarchar](31) NULL,
	[email] [nvarchar](130) NULL,
	[data_criacao] [date] NULL,
	[pacote] [nchar](30) NULL,
	[hora_criacao] [nchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[pro_id_fornecedor] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[pro_fornecedor] ON
INSERT [dbo].[pro_fornecedor] ([pro_id_fornecedor], [codigo], [nome], [cpf], [cnpj], [nr_ie_for], [cep], [endereco], [numero], [complemento], [municipio], [bairro], [uf], [pais], [tel_res], [tel_cel], [fax], [email], [data_criacao], [pacote], [hora_criacao]) VALUES (1, N'0000200015', N'RB BIANCHI REPRESENTAÇOES LTDA', N'', N'94863867000114', N'0290288177', N'95035-500', N'AV ROSSETI,', N'812', NULL, N'CAXIAS DO SUL', N'SANTA CATARINA', N'RS', N'BR', N'', N'54 35356120', N'54 35356121', N'', CAST(0xE4370B00 AS Date), N'              1               ', N'11:37:23')
INSERT [dbo].[pro_fornecedor] ([pro_id_fornecedor], [codigo], [nome], [cpf], [cnpj], [nr_ie_for], [cep], [endereco], [numero], [complemento], [municipio], [bairro], [uf], [pais], [tel_res], [tel_cel], [fax], [email], [data_criacao], [pacote], [hora_criacao]) VALUES (2, N'0000200016', N'REMASTER IND E COM DE BORRACHAS LTD', N'', N'03855205000147', N'0962820660', N'90240-120', N'IRMAO FRANCISCO', N'105', NULL, N'PORTO ALEGRE', N'HUMAITA', N'RS', N'BR', N'', N'51 33740250', N'51 33740251', N'', CAST(0xE4370B00 AS Date), N'              1               ', N'11:37:23')
INSERT [dbo].[pro_fornecedor] ([pro_id_fornecedor], [codigo], [nome], [cpf], [cnpj], [nr_ie_for], [cep], [endereco], [numero], [complemento], [municipio], [bairro], [uf], [pais], [tel_res], [tel_cel], [fax], [email], [data_criacao], [pacote], [hora_criacao]) VALUES (3, N'0000200017', N'NP ENJETADOS LTDA', N'', N'08012748000116', N'0290454085', N'95096-151', N'JOSE ARLINDO FADANELLI', N'454', NULL, N'CAXIAS DO SUL', N'', N'RS', N'BR', N'', N'54 32151036', N'54 32151036', N'', CAST(0xE4370B00 AS Date), N'              1               ', N'11:37:23')
SET IDENTITY_INSERT [dbo].[pro_fornecedor] OFF
/****** Object:  Table [dbo].[pro_condpgto]    Script Date: 01/16/2014 09:34:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[pro_condpgto](
	[pro_id_condpgto] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](4) NULL,
	[Descricao] [varchar](30) NULL,
	[pacote] [nchar](30) NULL,
	[data_criacao] [date] NULL,
	[hora_criacao] [nchar](8) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[pro_condpgto] ON
INSERT [dbo].[pro_condpgto] ([pro_id_condpgto], [Codigo], [Descricao], [pacote], [data_criacao], [hora_criacao]) VALUES (1, N'1', N'A VISTA', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[pro_condpgto] OFF
/****** Object:  Table [dbo].[pro_cliente_vendas]    Script Date: 01/16/2014 09:34:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pro_cliente_vendas](
	[pro_id_cliente_vendas] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [nvarchar](10) NULL,
	[org_vendas] [nvarchar](4) NULL,
	[can_dist] [nvarchar](2) NULL,
	[set_ativ] [nvarchar](2) NULL,
	[grupo_cli] [nvarchar](2) NULL,
	[id_fornecedor] [nvarchar](18) NULL,
	[pacote] [nchar](30) NULL,
	[data_criacao] [date] NULL,
	[hora_criacao] [nchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[pro_id_cliente_vendas] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[pro_cliente_vendas] ON
INSERT [dbo].[pro_cliente_vendas] ([pro_id_cliente_vendas], [id_cliente], [org_vendas], [can_dist], [set_ativ], [grupo_cli], [id_fornecedor], [pacote], [data_criacao], [hora_criacao]) VALUES (1, N'0001000062', N'1000', N'10', N'10', N'01', N'', N'              1               ', CAST(0xE4370B00 AS Date), N'11:38:59')
INSERT [dbo].[pro_cliente_vendas] ([pro_id_cliente_vendas], [id_cliente], [org_vendas], [can_dist], [set_ativ], [grupo_cli], [id_fornecedor], [pacote], [data_criacao], [hora_criacao]) VALUES (2, N'0001000063', N'1000', N'10', N'10', N'01', N'', N'              1               ', CAST(0xE4370B00 AS Date), N'11:38:59')
INSERT [dbo].[pro_cliente_vendas] ([pro_id_cliente_vendas], [id_cliente], [org_vendas], [can_dist], [set_ativ], [grupo_cli], [id_fornecedor], [pacote], [data_criacao], [hora_criacao]) VALUES (3, N'0001000064', N'1000', N'10', N'10', N'01', N'', N'              1               ', CAST(0xE4370B00 AS Date), N'11:38:59')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
SET IDENTITY_INSERT [dbo].[pro_cliente_vendas] OFF
/****** Object:  Table [dbo].[pro_cliente]    Script Date: 01/16/2014 09:34:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pro_cliente](
	[pro_id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [nvarchar](10) NULL,
	[nome] [nvarchar](35) NULL,
	[cpf] [nvarchar](11) NULL,
	[cnpj] [nvarchar](16) NULL,
	[nr_ie_cli] [nvarchar](18) NULL,
	[cep] [nvarchar](10) NULL,
	[endereco] [nvarchar](60) NULL,
	[numero] [nvarchar](10) NULL,
	[complemento] [nvarchar](10) NULL,
	[municipio] [nvarchar](40) NULL,
	[bairro] [nvarchar](40) NULL,
	[uf] [nvarchar](3) NULL,
	[pais] [nvarchar](3) NULL,
	[tel_res] [nvarchar](16) NULL,
	[tel_cel] [nvarchar](18) NULL,
	[fax] [nvarchar](31) NULL,
	[email] [nvarchar](130) NULL,
	[pacote] [nchar](30) NULL,
	[hora_criacao] [nchar](8) NULL,
	[data_criacao] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[pro_id_cliente] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[pro_cliente] ON
INSERT [dbo].[pro_cliente] ([pro_id_cliente], [id_cliente], [nome], [cpf], [cnpj], [nr_ie_cli], [cep], [endereco], [numero], [complemento], [municipio], [bairro], [uf], [pais], [tel_res], [tel_cel], [fax], [email], [pacote], [hora_criacao], [data_criacao]) VALUES (1, N'0001000062', N'JA DE ALMEIDA', N'', N'00885577000128', N'3,13254E+12', N'', N'R DIAMANTINA', N'', N'', N'Ipatinga', N'CENTRO', N'MG', N'BR', N'3138217892', N'', N'', N'', N'              1               ', N'11:38:59', CAST(0xE4370B00 AS Date))
INSERT [dbo].[pro_cliente] ([pro_id_cliente], [id_cliente], [nome], [cpf], [cnpj], [nr_ie_cli], [cep], [endereco], [numero], [complemento], [municipio], [bairro], [uf], [pais], [tel_res], [tel_cel], [fax], [email], [pacote], [hora_criacao], [data_criacao]) VALUES (2, N'0001000063', N'TUBULARTE MOVEIS LTDA', N'', N'08960427000143', N'2940006495', N'', N'R VENEZA', N'', N'', N'Nova Hartz', N'VL NOVA', N'RS', N'BR', N'5135651544', N'', N'', N'', N'              1               ', N'11:38:59', CAST(0xE4370B00 AS Date))
INSERT [dbo].[pro_cliente] ([pro_id_cliente], [id_cliente], [nome], [cpf], [cnpj], [nr_ie_cli], [cep], [endereco], [numero], [complemento], [municipio], [bairro], [uf], [pais], [tel_res], [tel_cel], [fax], [email], [pacote], [hora_criacao], [data_criacao]) VALUES (3, N'0001000064', N'MARCUS LEANDRO KUWER', N'', N'09094583000131', N'220061114', N'', N'R JULIO FLUVIO SCHIMMIT', N'', N'', N'Canela', N'CENTRO', N'RS', N'BR', N'5432826237', N'', N'', N'', N'              1               ', N'11:38:59', CAST(0xE4370B00 AS Date))
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
SET IDENTITY_INSERT [dbo].[pro_cliente] OFF
