<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="emailDoPortal" type="Progas.Portal.Infra.Model.EmailDoPortal,Progas.Portal.Infra" />
  </configSections>
  <appSettings>
    <add key="nome_RFC" value="PORTAL_PROGAS" />
    <add key="GatewayService" value="sapgw00" />
    <add key="AppServerHost" value="10.10.0.93" />
    <add key="SAPRouter" value="/H/201.35.69.162/S/3299/H/" />
    <add key="GatewayHost" value="10.10.0.93" />
    <add key="Client" value="400" />
    <add key="SystemID" value="DEV" />
    <add key="User" value="fusion" />
    <add key="Password" value="noisuf" />
    <add key="SystemNumber" value="00" />
    <add key="ProgramID" value="ServicoPortalInterfacesDEV" />
    <add key="RepositoryDestination" value="DEV"/>
    <add key="RegistrationCount" value="5" />
    <add key="PoolSize" value="5" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <emailDoPortal RemetenteSuprimentos="rafaelo4n@gmail.com" RemetenteLogistica="rafaelo4n@gmail.com" Servidor="smtp.gmail.com" Porta="587" Usuario="rafaelo4n@gmail.com" Senha="blink18241" Dominio="" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="ProgasPortal" connectionString="SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=RAFAEL-PC\SQLEXPRESS))(Integrated Security=SSPI));" />
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Portal.DadosSap.PortalProgasInterface">
        <endpoint address="" binding="basicHttpBinding" contract="Portal.DadosSap.IPortalProgasInterface">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/ServicoPortalProgasInterface" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings />
    <client />
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>